<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jokes by Name/Letter</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Jokes by Name And Letter!</h1>
        
        <form action="/joke" method="POST">
            <div class="bttn_form">
                <input type="text" name="name" placeholder="Please Enter A Letter From Your Name..." required>
                <button type="submit">Get Joke Here~</button>
            </div>
        </form>

        <% if (joke) { %>
            <p>Your joke is: <%= joke %></p>
        <% } %>
    </div>
</body>
</html>