body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: tan;
}

.container {
    border: 2px solid darkred;
    padding: 40px;
    width: 500px;
    border-radius: 15px;
    background-color: dimgray;
    color: tan;
    text-align: center;
}

h1 {
    color: tan;
    font-size: 2rem;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 8px 0 0 8px;
    border: 2px solid darkred;
    background-color: dimgray;
    color: tan;
    margin: 0;
    width: auto;
}

button {
    padding: 14px 19px;
    background-color: darkred;
    color: tan;
    border: none;
    border-radius: 0 8px 8px 0;
}

p {
    font-size: 1.1rem;
    margin-top: 20px;
}

.bttn_form{
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    input {
        font-size: 1rem;
        padding: 10px;
    }

    button {
        padding: 10px 12px;
        font-size: 0.9rem;
    }

    p {
        font-size: 1rem;
    }
}
